[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Aa]utomaticUpdater/
*.[Ss]uccess

*.user
*.log
*.vspscc
*.vssscc
*.builds
*.pidb
*.dbmdl
*.pfx
*.bak
*.resharper
*.vsunmananged

*.sln.docstates

.vs/
*.opensdf
*.sdf
*.cache
*.nupkg
*.testsettings
*.trx

**/publish/

**/*.usersecrets

.dotnet/
.templateengine/
artifacts/

node_modules/
npm-debug.log*

bower_components/
bower.json.orig
.bowerrc

dist/
tmp/

TestResults/
*.trx

.vscode/history/

local.settings.json

appsettings.json

*.env

*.pdb
.env
